<div class="container">
  <div class = "row">
    <div class="col-md">
      <mat-card class="Spatial Interpolation with R - Leaflet Mapping">
          <mat-card-header>
            <mat-card-title>Spatial Interpolation with R</mat-card-title>
            <mat-card-subtitle>Mapping with the Leaflet package for R</mat-card-subtitle>
          </mat-card-header>
          <video autoplay width="100%">

            <source src="http://liamosler.ca/images/interpolation.webm"
                    type="video/webm">
        
            Sorry, your browser doesn't support embedded videos.
        </video>
        

          <mat-card-actions>
            <a href = "http://liamosler.ca/geospatial/interpolation.html"><button mat-button>View Live Demo</button></a>
          </mat-card-actions>
        </mat-card>
    </div>
    
    <div class="col-md">
        <mat-card class="ESRI ECCE App Challege">
          <mat-card-header>
            <mat-card-title>ArcGIS Online Web App Builder</mat-card-title>
            <mat-card-subtitle>2017 Competition</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="http://liamosler.ca/images/ESRIChallenge.png" alt="Greater Halifax">

          <mat-card-actions>
            <a href = "https://esricanada-ce.github.io/appchallenge/2017/teams/cogs/Team_Web_Meisters/"><button mat-button>View Submission</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
</div>

