<div class="container">
    <div class = "row">
      <div class="col-sm">
      <mat-card class="property-value">
          <mat-card-header>
            <mat-card-title>Wine Statics</mat-card-title>
            <mat-card-subtitle>Applied Statistic with R</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Statistically exploring the chemical and phenolic qualities of wine and it perceived effects on quality using various packages in R to generate a 
          </mat-card-content>
          <img mat-card-image src="http://liamosler.ca/images/winestats.png" alt="Wine Statistics Chart - Plot">
          <img mat-card-image src="http://liamosler.ca/images/winestats2.png" alt="Wine Statistics Chart - Plot">
      
          <mat-card-actions>
            <a href = "http://liamosler.ca/machinelearning/winestats.html"><button mat-button>Live Demo</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>
