<div class = "row">
    <div class="col-md">
    <mat-card class="nectar1">
        <mat-card-header>
          <mat-card-title>Nectar Beer Poster</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img src = "http://liamosler.ca/images/Nectar-Beer-Web.png" width="100%">
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md">
        <mat-card class="nectar2">
            <mat-card-header>
              <mat-card-title>Nectar Wine Poster</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src = "http://liamosler.ca/images/Nectar-Wine-Web.png" width="100%">
            </mat-card-content>
          </mat-card>
        </div>

</div>