.jumbotron{
    text-align: center;
}

.jumbotron h1{
    font-size: 400%;
}

.container{
    padding-bottom: 5em;
}

ul {
    width: 200px;
}


.col-md{
    margin-bottom: 2em;
}

p{
    margin-right: 32px;
}

mat-card{
    margin-bottom: 2em;
}