<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class = "jumbotron-wrapper">
<div class="jumbotron">
    <h1 class="display-4">Liam Osler</h1>
    <p class="lead">Web Developer</p>
    <div class = "col-md">
      <img src = "http://liamosler.ca/images/profile.jpg" style = "width: 80vw; max-width: 400px; border-radius: 100%;">

    </div>
    <hr class="my-4">
    <a href="http://twitter.com/liamosler" class="fa fa-twitter"></a>
    <a href="http://twitter.com/liamosler" class="fa fa-github"></a>
    <a href="http://twitter.com/liamosler" class="fa fa-envelope"></a>
</div>
</div>