<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class = "jumbotron-wrapper">
  <div class="jumbotron">
      <h1 class="display-4">Liam Osler</h1>
      <p class="lead">Web Developer</p>
      <div class = "col-md">
        <img src = "http://liamosler.ca/images/profile.jpg" style = "height: 40vh; max-height: 500px; border-radius: 100%;">

      </div>
      <hr class="my-4">
      <a href="http://twitter.com/liamosler" class="fa fa-twitter"></a>
      <a href="http://github.com/liamosler" class="fa fa-github"></a>
      <a href="mailto:liam.osler@dal.ca" class="fa fa-envelope"></a>
  </div>
</div>