<div class="container">

  <div class = "row">
    <div class="col-md-6">
      <mat-card class="canvasgame">
        <mat-card-header>
          <mat-card-title>HTML5/JS Canvas Game</mat-card-title>
          <mat-card-subtitle>An asteroids-like game based on a simulation of gravity in 2D implemented in HTML5 Canvas with Javascript, including interactive (clickable) elements and keyboard controls.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://liamosler.ca/images/darkmatterscreen.png" alt="Greater Halifax">

        <mat-card-actions>
          <a href ="http://liamosler.ca/demos/canvasgame"><button mat-button>View Demo</button></a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card class="winelist">
            <mat-card-header>
              <mat-card-title>Wine List</mat-card-title>
              <mat-card-subtitle>Displays a list of wines. Bootstrap and jQuery Datatables</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://liamosler.ca/images/troutpointwinelist2.png" alt="Greater Halifax">
        
            <mat-card-actions>
              <a href ="http://liamosler.ca/demos/winelist"><button mat-button>View Demo</button></a>
            </mat-card-actions>
          </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card class="winelist">
              <mat-card-header>
                <mat-card-title>Nova Scotia News Aggregator</mat-card-title>
                <mat-card-subtitle>Aggregates RSS Newsfeeds in to one page with PHP, implements Bootstrap and Masonry for frontend design. </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://liamosler.ca/demos/rss-aggregator/screenshots/Screen1.bmp" alt="RSS Aggregator">
          
              <mat-card-actions>
                <a href ="http://liamosler.ca/demos/rss-aggregator"><button mat-button>View Demo</button></a>
              </mat-card-actions>
            </mat-card>
        </div>

      
    </div>
  </div>
    