<div class="container">

  <div class = "row">
    <div class="col-md">
      <mat-card class="canvasgame">
        <mat-card-header>
          <mat-card-title>HTML5 Canvas Game</mat-card-title>
          <mat-card-subtitle>Created with the HTML5 canvas element and programmed in vanilla JS.</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://liamosler.ca/images/darkmatterscreen.png" alt="Greater Halifax">

        <mat-card-actions>
          <a href ="http://liamosler.ca/demos/canvasgame"><button mat-button>View Demo</button></a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md">
      <mat-card class="winelist">
            <mat-card-header>
              <mat-card-title>Wine List</mat-card-title>
              <mat-card-subtitle>Bootstrap and jQuery Datatables</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://liamosler.ca/images/troutpointwinelist2.png" alt="Greater Halifax">
        
            <mat-card-actions>
              <a href ="http://liamosler.ca/demos/winelist"><button mat-button>View Demo</button></a>
            </mat-card-actions>
          </mat-card>
      </div>

      
    </div>
  </div>
    